{% extends 'admin/model/create.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-3">
            <h2 class="mt-4" style="color: black;">Добавить новый фильм</h2>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                    {% for error in form.name.errors %}
                    <div class="alert alert-danger mt-2">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label class="form-label">Выберите жанры:</label>
                    <div>
                        {% for genre_id, genre_name in form.genres.choices %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="genres" value="{{ genre_id }}">
                            <label class="form-check-label">{{ genre_name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="selected-genres" class="mb-3">
                    Выбранные жанры:
                    <ul id="selected-genres-list"></ul>
                </div>
                <div class="form-group">
                    {{ form.release_year.label(class="form-label") }}
                    {{ form.release_year(class="form-control") }}
                    {% for error in form.release_year.errors %}
                    <div class="alert alert-danger mt-2">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.director.label(class="form-label") }}
                    {{ form.director(class="form-control") }}
                    {% for error in form.director.errors %}
                    <div class="alert alert-danger mt-2">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control") }}
                    {% for error in form.description.errors %}
                    <div class="alert alert-danger mt-2">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.rating.label(class="form-label") }}
                    {{ form.rating(class="form-control") }}
                    {% for error in form.rating.errors %}
                    <div class="alert alert-danger mt-2">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.poster.label(class="form-label") }}
                    {{ form.poster(class="form-control-file", id="posterInput", accept="image/*",
                    onchange="previewImage()") }}
                    <img id="posterPreview" src="" alt="Предварительный просмотр" style="display: none;">
                    {% for error in form.poster.errors %}
                    <div class="alert alert-danger mt-2">{{ error }}</div>
                    {% endfor %}
                    {% if poster_error %}
                    <div class="alert alert-danger mt-2">{{ poster_error }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const selectedGenresList = document.getElementById('selected-genres-list');

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                const selectedGenreId = checkbox.value;
                const selectedGenreName = checkbox.parentElement.textContent.trim();

                if (checkbox.checked) {
                    const listItem = document.createElement('li');
                    listItem.textContent = selectedGenreName;
                    selectedGenresList.appendChild(listItem);
                } else {
                    // Если флажок снят, удалите соответствующий жанр из списка выбранных
                    const genreItems = selectedGenresList.querySelectorAll('li');
                    genreItems.forEach(function (item) {
                        if (item.textContent === selectedGenreName) {
                            item.remove();
                        }
                    });
                }
            });
        });
    });


</script>
<script>
function previewImage() {
    const posterInput = document.getElementById('posterInput');
    const posterPreview = document.getElementById('posterPreview');

    if (posterInput.files && posterInput.files[0]) {
        const reader = new FileReader();

        reader.onload = function (e) {
            posterPreview.src = e.target.result;
            posterPreview.style.display = 'block';
        };

        reader.readAsDataURL(posterInput.files[0]);
    }
}
</script>
{% endblock %}