{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Фото фильма -->
            <img src="{{ url_for('static', filename='poster/' + film.poster ) }}" alt="Постер фильма" class="img-fluid">
        </div>
        <div class="col-md-6">
            <!-- Название фильма -->
            <h1 class="text-danger">{{ film.name }}</h1>
            <!-- Год выхода фильма -->
            <p><strong>Год выхода:</strong> {{ film.release_year }}</p>
            <p><strong>Рейтинг:</strong> {{ film.rating }}</p>
            <p><strong>Жанр:</strong>
                {% for genre in film.genres %}
                {{ genre }}
                {% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <!-- Описание фильма -->
            <p><strong>Описание:</strong> {{ film.description }}</p>
            <p>
            <div style="display: inline-block;">
                <a href="{{ url_for('edit_film', film_translit_name=film.translit_name) }}"
                   class="btn btn-secondary rounded-pill px-3">Редактировать</a>
            </div>
            <div style="display: inline-block;">
                <form method="POST" action="{{ url_for('delete_film', film_translit_name=film.translit_name) }}"
                      onsubmit="return confirm('Вы уверены, что хотите удалить этот фильм?');">
                    <button type="submit" class="btn btn-danger">Удалить фильм</button>
                </form>
            </div>
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="comments">
            <h3>Комментарии:</h3>
            <ul class="list-group">
                {% for comment in pagination.items %}
                <li class="list-group-item">
                    <div class="comment-header">
                        <h5 class="mb-1">{{ comment.user.username }}</h5>
                        <small class="text-muted">{{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                    </div>
                    <p>{{ comment.text }}</p>
                </li>
                {% endfor %}
            </ul>
            <nav aria-label="Page navigation">
    <ul class="pagination">
        {% if pagination.has_prev %}
        <li class="page-item"><a class="page-link"
                                 href="{{ url_for(request.endpoint, page=pagination.prev_num, film_translit_name=film.translit_name) }}">Предыдущая</a>
        </li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page == pagination.page %}
        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
        {% else %}
        <li class="page-item"><a class="page-link"
                                 href="{{ url_for(request.endpoint, page=page, film_translit_name=film.translit_name) }}">{{
            page }}</a></li>
        {% endif %}
        {% else %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li class="page-item"><a class="page-link"
                                 href="{{ url_for(request.endpoint, page=pagination.next_num, film_translit_name=film.translit_name) }}">Следующая</a>
        </li>
        {% endif %}
    </ul>
</nav>
        </div>
        <!-- Форма для добавления комментария -->
        <h3>Добавить комментарий</h3>
        <form method="POST" action="/add_comment/{{film.translit_name}}">
            {{ form.hidden_tag() }} {# Вставьте скрытое поле CSRF токена #}
            <div class="mb-3">
                <label for="text" class="form-label">Комментарий</label>
                {{ form.text(class="form-control", id="text", required="required") }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>
</div>

{% endblock %}