{% extends 'base.html' %}

{% block content %}

<div class="two" style="background: none"><h1> Welcome to Cinema World </h1></div>

<div class="content">
    <h3 class="my-4">Fresh <span class="text-primary">Movies</span></h3>
    <ul class="movies">
        {% for film in films %}
        <li class="d-flex">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0"> {{ film.name }} </h3>
                        <div class="mb-1 text-body-secondary">{{ film.release_year }}</div>
                        <div class="mb-1 text-body-secondary">{{ film.genre }}</div>
                        <p class="card-text mb-auto">{{ film.description[:100] }}...</p>
                        <a href="{{ url_for('film_page', film_name=film.name|translit) }}" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250"
                             src="{{ url_for('static', filename='poster/' + film.poster) }}" alt="Your Image">

                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
