{% extends 'base.html' %}
{% block content %}
<div id="content">
    <div class="line-hor"></div>
    <div class="content">
        <h3>Registration <span>Form</span></h3>
        <form  method="post">
            {{ form.csrf_token() }}
                <div class="mb-3"> {{ form.username.label() }}
                    {{ form.username() }}
                    {% if form.errors.username %}
                    <ul class="errors">
                        {% for error in form.errors.username %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <br>
                <div class="mb-3"> {{ form.email.label() }}
                    {{ form.email() }}
                    {% if form.errors.email %}
                    <ul class="errors">
                        {% for error in form.errors.email %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <br>

                <div class="mb-3"> {{ form.password.label() }}
                    {{ form.password() }}
                </div>
                <div class="mb-3"> {{ form.confirm.label() }}
                    {{ form.confirm() }}
                </div>
                <div class="mb-3"> {{ form.accept_tos.label() }} {{ form.accept_tos() }}
                </div>
                <button type="submit" class="btn btn-primary">Registration</button>
        </form>
    </div>
</div>
{% endblock %}